<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Eliminar Animal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h1 th:text="'Eliminar Animal: ' + ${animal.nombre}">Borrar Animal</h1>
<form action="#" th:action="@{/Animal/Delete/{id}(id=${animal.id})}" th:object="${animal}" method="post">
  <div class="mb-3">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" th:field="*{nombre}" th:value="${animal.nombre}" disabled>
  </div>
    <div class="mb-3">
    <label for="vidaMedia">VidaMedia:</label>
  <input type="text" id="vidaMedia" th:field="*{vidaMedia}" th:value="${animal.vidaMedia}" disabled>
    </div>
      <div class="mb-3">
      <label for="extinto">Extinto:</label>
  <input type="checkbox" id="extinto" th:field="*{extinto}" th:checked="${animal.extinto}" disabled>
      </div>
        <button type="submit" class="btn btn-danger">Borrar animal</button>
  <a th:href="@{/Animal}" type="button" class="btn btn-primary">Volver al Index</a>
</form>

</body>
</html>
